:root {
    --orange: orange;
    --salmon: rgb(255, 0, 157);
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    font-family: sans-serif;
    width: 100%;
}

#heading {
   padding: 15px;
   padding-left: 50px;
}

#logo {
    height: 16px;
    width: 80px;
}

#slogan {
    font-size: 24px;
    margin-top: 50px;
}

#stylish {
    color: rgb(255, 113, 61);
}

#playstore {
    height: 15px;
    padding-left: 5px;
    margin-top: 2px;
    background-color: transparent;
}

.download_now_btn {
    margin-top: 10px;
    width: 110px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(90deg, var(--salmon), var(--orange));
    padding: 7px;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
}

#btn {
    background-color: transparent;
    border: none;
    font-size: 10px;
    font-weight: bold;
}

.download_now_btn:hover {
    transform: scale(0.95);
    background-image: linear-gradient(90deg, var(--orange), var(--salmon));
}

#girl {
    width: 300px;
    background-color: transparent;
    margin-top: -16px;
}

.hero {
    background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(26, 26, 26, 0.8)), 
    url('./images/hero2_bg_images.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
   
}

#hero2 {
    display: flex;
    padding-left: 50px;
   
}
#hero2_div1 {
    width: 45%;
}

/* Container_1 */
#container_1 {
    background-image: 
    linear-gradient(to right, rgba(26, 26, 26, 0.9), rgba(26, 26, 26, 0.9)), 
    url('./images/cont_1_bg.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container_1_head_1 {
    font-size: 32px;
    margin-top: 35px;
    margin-bottom: 35px;
}
#container_1_head_2 {
    font-size: 32px;
    margin-top: -30px;
    margin-bottom: 35px;
}
#in_container_1 {
    position: relative;
    width: 300px; 
    height: 200px;
    margin: 50px auto;
    padding-left: 60px;
  }
  
  .post {
    position: absolute;
    height: 150px;
    width: 100px;
    top: 0;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  }
  .post:nth-child(1) {
    transform: rotateZ(-2deg) translateX(110px) translateY(0px);
  }
  .post:nth-child(2) {
    transform: rotateZ(-2deg) translateX(120px) translateY(0px);
  }
  .post:nth-child(3) {
    transform: rotateZ(0deg) translateX(20px) translateY(-10px);
    z-index: 2;
    height: 170px;
    width: 110px;
  }
  .post:nth-child(4) {
    transform: rotateZ(1deg) translateX(-80px) translateY(0px);
  }
  .post:nth-child(5) {
    transform: rotateZ(1deg) translateX(-180px) translateY(0px);
  }
  
  
#in_container_2 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}
#container_1 > div:last-child {
    margin-bottom: 50px;
}
.in_container_level1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    background-color: rgb(43, 42, 42);
    padding: 3px 15px;
    border-radius: 50px;
    opacity: 0.8;
}
.in_container_level1 > img {
    height: 20px;
    width: 20px;
}
.in_container_level1 > h2 {
    font-size: 12px;
    margin-left: 10px;
}
#in_container_2 + div {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* User Love */
#user_love {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
}
#container_2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    opacity: 0.9;
    margin: 0px 50px 10px 50px;
}
.cont_2_inner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, #575555, #181717);
    padding: 8px 15px;
    /* opacity: 0.9; */
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    height: 300px;
}
.cont_2_inner_container > img {
    height: 30px;
    width: 25px;
}
.cont_2_inner_container > div > img {
    height: 80px;
    width: 60px;
    border-radius: 50%;
} 
.cont_2_inner_container > p {
    font-size: 16px;
    line-height: 12px;
}
.cont_2_in_level_1 > div > p:nth-child(1) {
    font-size: 16px;
    
}
.cont_2_in_level_1 > div > p:nth-child(2) {
    font-size: 10px;
}

/* Container 3 */
#container_3 {
    background-image: linear-gradient(50deg, var(--orange), var(--salmon));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#container_3 > h1 {
    font-size: 24px;
}
#container_3 > #download_btn:hover {
    color: white;
    transform: scale(0.95);
    background-color: rgb(0, 0, 0);
    
}
#download_btn {
    border: none;
    background-color: white; 
    font-size: 12px;
    border: none;
    border-radius: 5px;
    width: 110px;
    padding: 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hover_img {
    height: 15px;
    width: 15px;
    padding-left: 5px;
}

#container_4 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
#container_4 > div {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #000000;
    padding: 30px 50px 20px;
}
#container_4 > div > img {
    height: 20px;
    width: 80px;
}
#container_4 > div > p, #container_4 > div > address {
    font-size: 8px;
}
#container_4 > div:nth-child(2) > p {
    font-weight: bold;
}
#container_4 > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container_4 > div:nth-child(2) > button {
    background-color: #ffffff;
    border: 1px solid black;
    font-size: 8px;
    width: 70px;
}
#container_4 > div:nth-child(2) > button:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.white {
    border: 0.5px solid rgb(255, 255, 255);
}
#black {
    border: 0.5px solid rgb(0, 0, 0);
}
#underline {
    display: grid;
    grid-template-columns: 0.5fr 15fr 0.5fr;
    height: 0px;
    margin: 0px 20px; 
}
#container_5 {
    background-color: white;
}
#container_5 {
    display: flex;
    color: #000000;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding: 10px 40px 10px 35px;
}
#footer_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
#footer_links > a {
    text-decoration: none;
    color: rgb(155, 153, 153);
    font-size: 8px;   
}
#footer_links > a:hover {
    cursor: pointer;
    color: #000000;
}
#container_5 > div:nth-child(2) > p {
    font-size: 8px;
    color: rgb(153, 153, 153);
}

@media (min-width: 320px) and (max-width: 768px) {
    .hero {
        height: 90vh;
    }
    #heading {
        height: 1%;
    }
    #logo{
        height: 35px;
        width: 130px;
    }
    #hero2 {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    #hero2_div1 {
        width: 100%;
    }
    #slogan {
        font-size: 24px;
    }
    .download_now_btn {
        margin: auto;
        width: 160px;
        height: 20px;
    }
    #btn {
        font-size: 16px;
        color: white;
    }
    #playstore {
        height: 22px;
    }
    #girl {
        height: 250px;
        width: 220px;
        margin: auto;
    }
    #container_1_head_1, #container_1_head_2  {
        text-align: center;
        margin-top: 50px;
        font-size: 22px;
    }
    #container_1_head_2  {
        margin-top: 0px;
    }
    #in_container_1 {
        display: flex;
        padding-left: 20px;
    }
    .post {
        height: 50px;
        width: auto;
        border-radius: 2px;
        box-shadow: 0 10px 15px rgba(200, 197, 197, 0.3);
    }
      #container_1_head_2  {
        margin-top: 0px;
      }
      .in_container_level1 {
        margin-right: 0px;
        height: 47px;
        padding: 0px 30px;
        margin-bottom: 20px;
    }
    .in_container_level1 > img {
        height: 26px;
        width: 29px;
        padding-right: 20px;
    }
    .in_container_level1 > h2 {
        font-size: 14px;
        margin-left: 4px;
    }
    #container_2 {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
    }
    .cont_2_inner_container {
        height: 350px;
        width: 225px;
        margin: auto;
        margin-bottom: 40px;
        box-shadow: 0 1px 10px rgba(255, 255, 255, 0.5);
    }
    .cont_2_inner_container > p {
        font-size: 14px;
        line-height: 20px;
    }
    #in_container_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    #download_btn {
        width: 133px;
        height: 30px;
    }
    #download_btn > button {
        border: none;
        background-color: transparent;
    }
    #container_4 {
        display: flex;
        flex-direction: column;
    }
    #container_4 > div:nth-child(1) {
        align-items: center;
    }
    #container_4 > div > img {
        height: 32px;
        width: 100px;
    }
    #container_4 > div > p {
        font-size: 14px;
        margin: 10px 0px 0px 0px;
        text-align: center;
        line-height: 22px;
    }
    #container_4 > div:nth-child(2) {
        padding-top: 0px;
    }
    #container_4 > div:nth-child(2) > p {
        padding-bottom: 15px;
    }
    #container_4 > div:nth-child(2) > button {
        height: 30px;
        width: 100px;
        font-size: 14px;
        font-family: sans-serif;
    }
    #container_4 > div:nth-child(2) > img {
        height:px;
    }
    #container_5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #container_5 > #footer_links {
        /* display: flex; */
        flex-wrap: wrap;
    }
    #container_5 > #footer_links > a {
        margin-bottom: 10px;
        width: 100px;
    }
    .post:nth-child(1) {
        transform: rotateY(2deg) scale(3.0) translateX(7px) translateY(15px);
        z-index: 2;
   }
   .post:nth-child(2) {
        transform: rotateY(0deg) scale(3.0) translateX(74px) translateY(16px) skew(0deg, 0deg);
        z-index: 1;
    
   }
   .post:nth-child(3) {
        transform: rotateY(0deg) scale(1) translateX(81px) translateY(-16px) skew(0deg, 0deg);
        z-index: 2;
   }
   .post:nth-child(4) {
     display: none;
   }
   .post:nth-child(5) {
     display: none;
   }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #girl {
        height: 400px;
        width: 400px;
        margin: auto;
        margin-top: -30px;
    }
    #logo {
        height: 33px;
        width: 150px;
    }
    #heading {
        padding-top: 40px;
        height: 30px;
    }
    .hero {
        height: 70vh;
    }
    #slogan {
        font-size: 35px;
        margin-top: 100px;
        text-align: center;
    }
    #btn {
        color: white;
        font-size: 24px;
    }
    .in_container_level1 > img {
        height: 30px;
        width: 30px;
        padding-right: 10px;
    }
    .in_container_level1 > h2 {
        font-size: 16px;
        margin-left: 4px;
    }
    .download_now_btn {
        margin: auto;
        font-size: 24px;
        width: 220px;
        height: 40px;
    }
    #playstore {
        height: 30px;
    }
    #container_2 {
        display: flex;
    }
    .cont_2_inner_container {
        height: 400px;
    }
    
    .cont_2_inner_container > p {
        font-size: 16px;
        line-height: 22px;
    }
    #container_4 > div > p,  #container_4 > div > address {
        font-size: 16px;
    }
    #container_5 > #footer_links > a {
        font-size: 12px;
    }
    #container_5 > div:nth-child(2) > p {
        font-size: 12px;
    }
    #container_4 > div:nth-child(2) > button {
        font-size: 16px;
        width: 120px;
        padding: 4px;
    }
    #container_3 > #download_btn {
        height: 36px;
        width: 200px;
        margin-bottom: 20px;
       }
       #download_btn > button {
        font-size: 16px;
        border: none;
        background-color: transparent;
        margin-right: 10px;
       }
       #download_btn > button:hover {
        color: white;
       }
       #download_btn > img {
        height: 24px;
        width: 24px;
       }
    .download_now_btn {
        font-size: 24px;
    }
    .post {
        position: absolute;
        height: 270px;
        width: 220px;
        top: 0;
        border-radius: 10px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
      }
      .post:nth-child(1) {
           transform: rotateY(10deg) scale(0.7) translateX(-10px) translateY(-106px);
           z-index: 3;
      }
      .post:nth-child(2) {
           transform: rotateY(24deg) skew(1deg, -2deg) scale(0.67) translateX(-225px) translateY(-106px);
           z-index: 1;
       
      }
      .post:nth-child(3) {
           transform: rotateY(0deg) scale(1.1) translateX(164px) translateY(-16px) skew(-2deg, 1deg);
           z-index: 2;
      }
      .post:nth-child(4) {
        display: none;
      }
      .post:nth-child(5) {
        display: none;
      }
      #footer_links {
        flex: 1;
    }
    #footer_links > a {
        text-decoration: none;
        color: rgb(155, 153, 153);
        font-size: 12px;   
    }

    #container_5 > div:nth-child(2) > p {
        font-size: 12px;
    }
}

@media (min-width: 1025px) {
     #logo {
        padding-top: 30px;
         height: 54px;
         width: 250px;
     }
     
     #slogan {
         font-size: 54px;
         margin-top: 0px;
         margin-left: -80px;
     }
     
     #stylish {
         color: rgb(255, 113, 61);
     }
     
     #playstore {
         height: 25px;
         padding-left: 5px;
         margin-top: 2px;
         background-color: transparent;
     }
     
     .download_now_btn {
         margin-top: 10px;
         width: 170px;
         border: none;
         border-radius: 5px;
         background-image: linear-gradient(90deg, var(--salmon), var(--orange));
         padding: 7px;
         transition: transform 0.2s ease;
         display: flex;
         align-items: center;
     }
     
     #btn {
         background-color: transparent;
         border: none;
         font-size: 16px;
         font-weight: bold;
         color: white;
     }
     
     .download_now_btn:hover {
         transform: scale(0.95);
         background-image: linear-gradient(90deg, var(--orange), var(--salmon));
     }
     #hero2 {
        margin-top: -40px;
        padding-left: 50px;
        display: grid;
        grid-template-columns: 2fr 1fr;  
    }
     #girl {
         width: 500px;
         background-color: transparent;
         height: 90vh;
         margin-right: 100px;
     }
     
     .hero {
         background-image: 
         linear-gradient(to right, rgba(0, 0, 0, 1), rgba(26, 26, 26, 0.8)), 
         url('./images/hero2_bg_images.jpeg');
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         height: 100vh;
         width: 100%;
         display: flex;
         flex-direction: column;
        
     }
     
    .download_now_btn {
        height: 32px;
    }
     #hero2_div1 {
         width: 80%;
         margin-top: 150px;
         margin-left: 100px;
     }
     
     /* Container_1 */
     #container_1 {
         background-image: 
         linear-gradient(to right, rgba(26, 26, 26, 0.9), rgba(26, 26, 26, 0.9)), 
         url('./images/cont_1_bg.jpeg');
         background-position: center;
         background-size: cover;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
         height: 70%;
     }
     #container_1_head_1 {
         font-size: 32px;
         margin-top: 35px;
     }
     #container_1_head_2 {
         font-size: 32px;
         margin-top: 70px;
     }
     #in_container_1 {
         position: relative;
         width: 300px; 
         height: 200px;
         margin: 50px auto;
         padding-left: 150px;
       }
       
       .post {
         position: absolute;
         height: 270px;
         width: 220px;
         top: 0;
         border-radius: 10px;
         box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
       }
       .post:nth-child(1) {
            transform: rotateY(20deg) scale(1.1);
            z-index: 3;
       }
       .post:nth-child(2) {
            transform: rotateY(24deg) skew(1deg, -2deg) scale(1) translateX(-219px) translateY(-2px);
            z-index: 1;
        
       }
       .post:nth-child(3) {
            transform: rotateY(0deg) scale(1.6) translateX(157px) translateY(27px) skew(-2deg, 1deg);
            z-index: 2;
       }
       .post:nth-child(4) {
            transform: rotateY(24deg) skew(1deg, -2deg) scale(1) translateX(-419px) translateY(-2px);
       }
       .post:nth-child(5) {
            transform: rotateY(24deg) scale(1) skew(-2deg, 1deg) translateX(419px) translateY(-2px);
            z-index: 1;
       }
       #container_3 > #download_btn {
        height: 36px;
        width: 250px;
        margin-bottom: 20px;
       }
       #download_btn > button {
        font-size: 24px;
        border: none;
        background-color: transparent;
        margin-right: 10px;
       }
       #download_btn > button:hover {
        color: white;
       }
       #download_btn > img {
        height: 24px;
        width: 24px;
       }
       
     #in_container_2 {
         display: flex;
         margin-left: 50px;
     }
     .in_container_level1 {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: 50px;
         background-color: rgb(43, 42, 42);
         padding: 3px 15px;
         border-radius: 50px;
         opacity: 0.8;
     }
     .in_container_level1 > img {
         height: 24px;
         width: 24px;
     }
     .in_container_level1 > h2 {
         font-size: 20px;
         margin-left: 10px;
     }
     #in_container_2 + div {
         margin-top: 20px;
         margin-bottom: 20px;
     }
     
     /* User Love */
     #user_love {
         margin-top: 40px;
         margin-bottom: 20px;
         text-align: center;
         font-size: 32px;
     }
     #container_2 {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         column-gap: 10px;
         opacity: 0.9;
         margin: 0px 50px 10px 50px;
     }
     .cont_2_inner_container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         background-image: linear-gradient(to bottom, #575555, #181717);
         padding: 3px 15px;
         /* opacity: 0.9; */
         border-radius: 5px;
         box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
         margin-bottom: 15px;
         height: 400px;
     }
     .cont_2_inner_container > img {
         height: 30px;
         width: 30px;
     }
     .cont_2_inner_container > div > img {
         height: 60px;
         width: 60px;
         border-radius: 50%;
     } 
     .cont_2_inner_container > p {
         /* min-height: 100px; */
         font-size: 16px;
         line-height: 22px;
     }
     .cont_2_in_level_1 > div > p:nth-child(1) {
        font-size: 16px;
     }
     .cont_2_in_level_1 > div > p:nth-child(2) {
        font-size: 12px;
     }
     
     /* Container 3 */
     #container_3 {
         background-image: linear-gradient(50deg, var(--orange), var(--salmon));
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: 20px;
         padding-bottom: 20px;
     }
     #container_3 > h1 {
         font-size: 32px;
     }
     #container_3 > #download_btn:hover {
         color: white;
         transform: scale(0.95);
         background-color: rgb(0, 0, 0);
         
     }
     #download_btn {
         border: none;
         background-color: white; 
         font-size: 12px;
         border: none;
         border-radius: 5px;
         width: 110px;
         padding: 4px 0px;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     #hover_img {
         height: 15px;
         width: 15px;
         padding-left: 5px;
     }
     
     #container_4 {
         display: grid;
         grid-template-columns: 3fr 1fr;
     }
     #container_4 > div {
         display: flex;
         flex-direction: column;
         background-color: white;
         color: #000000;
         padding: 30px 50px 20px;
     }
     #container_4 > div > img {
         height: 40px;
         width: 150px;
         margin-bottom: 20px;
     }
     #container_4 > div > p {
         font-size: 16px;
         margin: 0px;
         padding: 5px;
     }
     #container_4 > div:nth-child(2) > p {
         font-weight: bold;
     }
     #container_4 > div:nth-child(2) {
         display: flex;
         justify-content: center;
         align-items: center;
     }
     #container_4 > div:nth-child(2) > button {
         background-color: #ffffff;
         border: 1px solid black;
         font-size: 16px;
         width: 120px;
     }
     #container_4 > div:nth-child(2) > button:hover {
         background-color: rgb(0, 0, 0);
         color: #ffffff;
     }
     
     .white {
         border: 0.5px solid rgb(255, 255, 255);
     }
     #black {
         border: 0.5px solid rgb(0, 0, 0);
     }
     #underline {
         display: grid;
         grid-template-columns: 0.5fr 15fr 0.5fr;
         height: 0px;
         margin: 0px 20px; 
     }
     #container_5 {
         background-color: white;
     }
     #container_5 {
         display: flex;
         flex-direction: row;
         color: #000000;
         justify-content: space-around;
         align-items: center;
         padding-top: 20px;
         padding: 10px 40px 10px 35px;
     }
     #footer_links {
         display: flex;
         justify-content: space-around;
         align-items: center;
         flex: 1;
     }
     #footer_links > a {
         text-decoration: none;
         color: rgb(155, 153, 153);
         font-size: 12px;   
     }
     #footer_links > a:hover {
         cursor: pointer;
         color: #000000;
     }
     #container_5 > div:nth-child(2) > p {
         font-size: 12px;
         color: rgb(153, 153, 153);
     }
}